<div uk-grid>
  <div class="uk-width-1-1 uk-animation-slide-left-small">
    <div uk-grid class="uk-text-center" style="margin-bottom: 90px;">
      <div class="uk-width-1-1" style="margin-top: 45px;">
        <h1>BananoNanoNault</h1>
        <span class="uk-text-lead">A very special fork of <a href="https://nault.cc">Nault</a></span><br>
      </div>
      <div class="uk-width-1-1" *ngIf="!isConfigured()">
        <div uk-grid>
          <div class="uk-width-1-1" style="margin-top: 10px;">
            <span class="uk-text-small">Secure access of your Banano using one of these options</span>
          </div>
          <!--
          <div class="uk-width-1-2@m">
            <button routerLink="/configure-wallet" class="uk-button uk-button-primary uk-width-1-1 uk-button-large">Create A New Wallet</button>
          </div>
          -->
          <div class="uk-width-1-2@m">
            <button routerLink="/configure-wallet" [queryParams]="{ import: 1}" class="uk-button uk-button-primary uk-width-1-1 uk-button-large">Import Ledger</button>
          </div>
          <div class="uk-width-1-2@m">
            <button routerLink="/remote-signing" [queryParams]="{ import: 1}" class="uk-button uk-button-primary uk-width-1-1 uk-button-large">Remote Signing</button>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1" *ngIf="isConfigured()">
        <div uk-grid>
          <div class="uk-width-1-1" style="margin-top: 10px;">
            <span class="uk-text-small">Welcome back!  It looks like your wallet is already configured.</span>
          </div>
          <div class="uk-width-1-1@m">
            <button routerLink="/accounts" class="uk-button uk-button-primary uk-width-1-1 uk-button-large">View My Accounts</button>
          </div>
        </div>
      </div>
    </div>

    <div uk-grid class="uk-margin-top">

      <div class="uk-width-1-1@m">
        <div class="uk-card uk-card-default uk-card-small">
          <div class="uk-card-body">

            <ul uk-accordion="">
              <li class="uk-open">

                <a class="uk-accordion-title uk-link-text" href="#">Why Use BananoNanoNault?</a>
                <div class="uk-accordion-content">
                  <dl class="uk-description-list">
                    <dt>Focused on Security</dt>
                    <dd>Specifically made for accessing Banano locked by a Ledger for Banano accounts maching Nano accounts. Usually when airdrops happens. Banano can then be accessed by connected the Ledger using the <strong>Nano app</strong> (not banano).<br>This app is using the Banano network. Another option is to use remote signing via an offline device in order to protect your keys.</dd>
                    <dt>Any Device, Anywhere</dt>
                    <dd>Access banano via the web, or <a href="https://github.com/Joohansson/BananoNanoNault/releases" target="_blank" rel="noopener noreferrer">download the desktop wallet</a> available for Windows/Mac/Linux.</dd>
                  </dl>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1">

        <hr class="uk-divider-icon">

        <div class="uk-card uk-card-small uk-card-default uk-margin uk-width-1-1">
          <div class="uk-card-body uk-text-center">
            BananoNanoNault is open source and all code is available at <a href="https://github.com/Joohansson/BananoNanoNault" target="_blank" rel="noopener noreferrer">https://github.com/Joohansson/BananoNanoNault</a>.<br>
            Please submit any feedback or bug reports on our GitHub page.  Thank you for using BananoNanoNault!
          </div>
        </div>

        <div class="uk-text-center uk-text-small uk-text-truncate">
          Donation Address: <a [routerLink]="'/send'" [queryParams]="{ to: donationAccount }" uk-tooltip title="Contribute to this wallet with a custom donation!">{{ donationAccount }}</a>
        </div>
      </div>
    </div>
  </div>
</div>


